
/* Footer Section Styling  */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span a{
    color: var(--sc-primary);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}
 