/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: var(--sc-primary);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: var(--sc-primary);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: var(--sc-primary);
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* Menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.btn{
    width: 8em;
    height: 2.5em;
    margin-top: 1em;
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--sc-primary);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 100;
    transition: all 0.1s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 0;
    pointer-events: none;
}


