@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{

    --ff-primary: Ubuntu, sans-serif;
    --ff-secondary: Poppins, sans-serif;

    /* site color theme */
    --sc-primary: rgb(206 7 7);;
}

html{
    scroll-behavior: smooth;
}

.portfolio_body{
    background-color: #03060c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.fa-arrow-up{
    color: #fff;
}

/* All similar content styling code */
section{
    padding: 100px 0;
}

.about, .services, .skills, .teams, .contact, footer, .my-work{
    font-family: 'Poppins', sans-serif;
}

.about, .contact, .skills{
    background-color: #ededed;
    height: 52em;
}

.about .about-content,
.services .serv-content,
.skills, .skills-content, 
.contact, .contact-content, .my-work{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section .title{
    position: relative;
    font-family: 'Ubuntu' sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: #111;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

section .title::after{
    position: absolute;
    padding: 5px;
    font-size: 20px;
    color: var(--sc-primary);
    background: #fff;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.colorRed{
    color: rgb(245, 19, 19);
}

.repo-link{
    font-family: var(--ff-secondary);
}

h3{
    font-family: var(--ff-primary);
}

li{
    font-family: var(--ff-primary);
    list-style: none;
}

.text{
    color: #fff;
}

p{
    font-family: var(--ff-secondary);
}




@import 'contact';
@import 'footer';
@import 'skills';
@import 'media';
@import 'home';
@import 'portfolioPage';
@import 'services';
@import 'portfolio';
@import 'about';
@import 'navbar';
